/* Button Customization */
.vfrc-button {
  background-color: #2A88BE !important; /* Ensure it overrides other styles */
  color: #FFFFFF !important;           /* Button text color */
}

/* Hide the "End Chat" Button */
.vfrc-footer--endchat {
  display: none !important; /* Force hiding the End Chat button */
}
